@charset "UTF-8";

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  display: inline-block;
}

._icon-Plain-Arrows:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

._icon-youtube:before {
  content: "\e904";
}

@font-face {
  font-family: Balqis;
  font-display: swap;
  src: url("../fonts/Balqis.woff2") format("woff2"), url("../fonts/Balqis.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
}

input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
}

input:-ms-input-placeholder {
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
}

input::-ms-input-placeholder {
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-family: Balqis;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 133.3333333333%;
  color: rgb(226, 171, 63);
}

.subtitle {
  font-family: RobotoCondensed;
  font-style: italic;
  font-size: 24px;
  line-height: 116.6666666667%;
  color: rgb(0, 0, 0);
}

.caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 116.6666666667%;
  color: rgb(0, 0, 0);
}

.text {
  font-size: 18px;
  line-height: 116.6666666667%;
  color: rgb(0, 0, 0);
}

.btn {
  font-size: 24px;
  line-height: 116.6666666667%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 171, 63);
  color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3125rem 0.625rem;
  min-height: 3.125rem;
  width: 17.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn:focus {
  -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(226, 171, 63);
          box-shadow: inset 0rem 0rem 0.875rem rgb(226, 171, 63);
}

.scroll-wrap {
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-scroll {
  -webkit-perspective: 12.5rem;
          perspective: 12.5rem;
}

.bottom-scroll::before {
  font-weight: 300;
  font-size: 70px;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #462523), color-stop(22%, #cb9b51), color-stop(45%, #f6e27a), color-stop(50%, #f6f2c0), color-stop(55%, #f6e27a), color-stop(78%, #cb9b51), to(#462523));
  background-image: -o-linear-gradient(left, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  -webkit-background-clip: text;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  width: 2.25rem;
  width: 36px;
  height: 70px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 700;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 5rem;
  z-index: 50;
  width: 100%;
  min-height: 6.115rem;
}

.header._scroll .header__wrap {
  background-color: rgba(226, 171, 63, 0.9);
  border-radius: 0 0 15% 15%;
}

.header__wrap {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding-top: 47px;
  padding-bottom: 47px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 116.6666666667%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__phone::before {
  font-size: 1.875rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-animation-name: phone;
          animation-name: phone;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes phone {
  0% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
            transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes phone {
  0% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
            transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0);
            transform: scale3d(1, 1, 1) rotate(0);
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 52px;
     -moz-column-gap: 52px;
          column-gap: 52px;
}

.menu__item {
  padding: 0.3125rem 0;
}

.menu__link {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 116.6666666667%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link::before {
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 0.375rem;
  background-color: transparent;
  -webkit-transform: translate(0, 0.625rem);
      -ms-transform: translate(0, 0.625rem);
          transform: translate(0, 0.625rem);
}

.footer {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__container {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__body-image-wrap {
  position: relative;
  margin-top: 6rem;
}

.footer__body-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__body-image-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 71px;
}

.footer__body-head {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 19.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__body-heading {
  font-family: Balqis;
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 133.7209302326%;
}

.footer__body-bottom {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(180deg);
      -ms-transform: translate(-50%, 0) rotate(180deg);
          transform: translate(-50%, 0) rotate(180deg);
}

.footer__body-scroll::before {
  -webkit-animation-name: arrow-up;
          animation-name: arrow-up;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow-up {
  0% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
            transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes arrow-up {
  0% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
            transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }
}

.content-image-footer__title {
  font-family: Balqis;
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 133.7209302326%;
  color: rgb(226, 171, 63);
}

.content-image-footer__title:not(:last-child) {
  margin-bottom: 20px;
}

.content-image-footer__phone,
.content-image-footer__mail {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 1.125rem;
  line-height: 116.6666666667%;
  color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.content-image-footer__phone::before,
.content-image-footer__mail::before {
  font-size: 30px;
  color: rgb(226, 171, 63);
}

.content-image-footer__phone:not(:last-child) {
  margin-bottom: 20px;
}

.content-image-footer__mail:not(:last-child) {
  margin-bottom: 30px;
}

.social {
  -webkit-perspective: 12.5rem;
          perspective: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.social__youtube,
.social__facebook,
.social__Instagram {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 1.875rem;
  color: rgb(226, 171, 63);
}

body {
  font-family: RobotoCondensed;
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cappadocia {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cappadocia__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cappadocia._active .cappadocia__scroll {
  -webkit-transition: all 1.3s ease 1.4s;
  -o-transition: all 1.3s ease 1.4s;
  transition: all 1.3s ease 1.4s;
  -webkit-transform: translate3d(-50%, 30%, 0) scale3d(1, 1, 1);
          transform: translate3d(-50%, 30%, 0) scale3d(1, 1, 1);
  opacity: 1;
}

.cappadocia__scroll {
  position: relative;
  z-index: 3;
  -webkit-transform: translate3d(-50%, -230%, -12.5rem) scale3d(1.5, 1.5, 1.5);
          transform: translate3d(-50%, -230%, -12.5rem) scale3d(1.5, 1.5, 1.5);
  opacity: 0;
  position: absolute;
  bottom: 8%;
  left: 50%;
}

.cappadocia__scroll-arrow {
  -webkit-perspective: 12.5rem;
          perspective: 12.5rem;
}

.cappadocia__scroll-arrow::before {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
            transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }

  50% {
    -webkit-transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
            transform: translate(0, 0.9375rem) scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
            transform: translate(0, 0rem) scale3d(1, 1, 1) rotate(0);
  }
}

.cappadocia__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cappadocia__body {
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.25rem;
}

.cappadocia__top {
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
}

.cappadocia__top._active .cappadocia__top-subtitle {
  -webkit-transition: all 0.5s ease 1.2s;
  -o-transition: all 0.5s ease 1.2s;
  transition: all 0.5s ease 1.2s;
  opacity: 1;
  -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
          transform: translate(0, 0) scale3d(1, 1, 1);
}

.cappadocia__top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cappadocia__top-title._active .cappadocia__title-word {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.cappadocia__top-title._active .cappadocia__title-word--1 {
  -webkit-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}

.cappadocia__top-title._active .cappadocia__title-word--2 {
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.cappadocia__top-title._active .cappadocia__title-word--3 {
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

.cappadocia__top-title._active .cappadocia__title-word--4 {
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.cappadocia__top-title._active .cappadocia__title-word--5 {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.cappadocia__top-title._active .cappadocia__title-word--6 {
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.cappadocia__top-title._active .cappadocia__title-word--7 {
  -webkit-transition: all 0.5s ease 0.7s;
  -o-transition: all 0.5s ease 0.7s;
  transition: all 0.5s ease 0.7s;
}

.cappadocia__top-title._active .cappadocia__title-word--8 {
  -webkit-transition: all 0.5s ease 0.8s;
  -o-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
}

.cappadocia__top-title._active .cappadocia__title-word--9 {
  -webkit-transition: all 0.5s ease 0.9s;
  -o-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.cappadocia__top-title._active .cappadocia__title-word--10 {
  -webkit-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.cappadocia__title-word {
  font-family: Balqis;
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 133.6%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.cappadocia__top-subtitle {
  position: absolute;
  bottom: -0.625rem;
  right: 7.2%;
  font-style: italic;
  font-size: 56px;
  line-height: 117.8571428571%;
  text-align: right;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0, 100%) scale3d(0, 0, 0);
          transform: translate(0, 100%) scale3d(0, 0, 0);
}

.page__fairy-tail {
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 100px;
}

.fairy-tail {
  overflow: hidden;
}

.fairy-tail__container:not(:last-child) {
  margin-bottom: 100px;
}

.fairy-tail__inner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fairy-tail__title {
  position: relative;
}

.fairy-tail__subtitle {
  position: absolute;
  bottom: -0.3125rem;
  right: -100px;
}

.fairy-tail__slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.fairy-tail__slide.swiper-slide {
  position: relative;
}

.fairy-tail__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-fairy-tail__body {
  padding-top: 45px;
  padding-bottom: 45px;
}

.body-content__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}

.body-content__subject {
  font-size: 18px;
  line-height: 116.6666666667%;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.page__route {
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 100px;
}

.route {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.route__content-body {
  width: 47%;
}

.route__slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.route__slide {
  position: relative;
  padding: 0 0 114% 0;
}

.route__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-body-route__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 108px;
}

.content-body-route__title {
  position: relative;
}

.content-body-route__subitle {
  position: absolute;
  bottom: 0;
  right: -73px;
}

.content-body-route__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.content-body-route__columns:not(:last-child) {
  margin-bottom: 50px;
}

.column-content__caption:not(:last-child) {
  margin-bottom: 20px;
}

.column-content__item {
  font-size: 24px;
  line-height: 116.6666666667%;
}

.page__hotel {
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 100px;
}

.hotel {
  overflow: hidden;
}

.body-hotel__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-hotel__title-wrap:not(:last-child) {
  margin-bottom: 100px;
}

.body-hotel__title {
  position: relative;
}

.body-hotel__subtitle {
  position: absolute;
  bottom: 0;
  right: -90px;
}

.content-body-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.content-body-hotel__image-wrap {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  min-height: 12.5rem;
}

.content-body-hotel__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-body-hotel__column-texts:not(:last-child) {
  margin-bottom: 80px;
}

.content-body-hotel__column-text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-body-hotel__column-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 2.4375rem;
     -moz-column-gap: 2.4375rem;
          column-gap: 2.4375rem;
  row-gap: 3.125rem;
}

.content-body-hotel__column-image {
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
  position: relative;
  padding: 0 0 54% 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.content-body-hotel__column-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__price {
  -webkit-perspective: 12.5rem;
          perspective: 12.5rem;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 100px;
}

.page__price._active .price__pic--ball {
  -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
          transform: translate(0, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.page__price._active .price__pic--small1,
.page__price._active .price__pic--small2 {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.page__price._active .price__pic--small1 {
  -webkit-transition: all 0.6s ease 0.5s;
  -o-transition: all 0.6s ease 0.5s;
  transition: all 0.6s ease 0.5s;
}

.page__price._active .price__pic--small2 {
  -webkit-transition: all 0.6s ease 0.8s;
  -o-transition: all 0.6s ease 0.8s;
  transition: all 0.6s ease 0.8s;
}

.price {
  overflow: hidden;
  position: relative;
}

.price__pic {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
}

.price__pic--small1,
.price__pic--small2 {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  width: 4%;
  padding: 0 0 5.9% 0;
}

.price__pic--small1 {
  right: 25%;
  top: 23%;
}

.price__pic--small2 {
  right: 22%;
  top: 32%;
}

.price__pic--ball {
  -webkit-transform: translate(-350%, -150%) scale3d(0, 0, 0);
          transform: translate(-350%, -150%) scale3d(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  right: 13%;
  top: 13%;
  width: 10.8%;
  padding: 0 0 15.9% 0;
}

.price__container {
  position: relative;
  z-index: 2;
}

.price__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__title-wrap:not(:last-child) {
  margin-bottom: 100px;
}

.price__title {
  position: relative;
}

.price__subtitle {
  position: absolute;
  bottom: 0;
  right: -100px;
}

.price__top:not(:last-child) {
  margin-bottom: 100px;
}

.price__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.price__bottom-content-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__bottom-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price__bottom-image-wrap {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.price__bottom-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rows-top-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rows-top-price__item-caption:not(:last-child) {
  margin-bottom: 50px;
}

.rows-top-price__item-text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-bottom-price {
  width: 383px;
}

.content-bottom-price__term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-bottom-price__term:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-bottom-price__term-title {
  position: relative;
}

.content-bottom-price__term-subtitle {
  position: absolute;
  bottom: 0;
  right: -70px;
}

.content-bottom-price__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-bottom-price__cost:not(:last-child) {
  margin-bottom: 100px;
}

.content-bottom-price__cost-title {
  position: relative;
  padding-left: 2.5rem;
}

.content-bottom-price__cost-subtitle {
  position: absolute;
  bottom: -0.3125rem;
  right: -75px;
}

.content-bottom-price__form-caption:not(:last-child) {
  margin-bottom: 50px;
}

.content-bottom-price__form-item {
  border: 1px solid rgb(226, 171, 63);
  min-height: 3.125rem;
}

.content-bottom-price__form-item:not(:last-child) {
  margin-bottom: 20px;
}

.content-bottom-price__form-input {
  padding: 0.9375rem 0.3125rem 0.9375rem 1.875rem;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: RobotoCondensed;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 116.6666666667%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.content-bottom-price__form-input:focus {
  background-color: rgb(226, 171, 63);
}

.content-bottom-price__form-button {
  margin: 0 auto;
}

@media screen and (min-width: 61.99875rem) {
  .rows-top-price__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: left;
  }
}

@media screen and (min-width: 68.12375rem) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__body-image-wrap {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 0 0 15.5% 0;
    width: 30%;
  }
}

@media screen and (min-width: 76.87375rem) {
  .footer__body-image-wrap {
    margin-left: 7.1875rem;
  }
}

@media screen and (min-width: 79.99875rem) {
  .footer__body {
    -webkit-column-gap: 8.125rem;
       -moz-column-gap: 8.125rem;
            column-gap: 8.125rem;
  }
}

@media screen and (min-width: 86.24875rem) {
  .fairy-tail__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .fairy-tail__inner-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .fairy-tail__slider-wrap {
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100vw - ((100vw - 76.875rem) / 2 + (76.875rem - 1.875rem) * 0.47 + 0.9375rem));
            flex: 0 0 calc(100vw - ((100vw - 76.875rem) / 2 + (76.875rem - 1.875rem) * 0.47 + 0.9375rem));
  }

  .fairy-tail__slide.swiper-slide {
    padding: 0 0 69% 0;
  }

  .content-fairy-tail {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-left: 55px;
  }

  .content-fairy-tail__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .content-fairy-tail__body {
    width: 47%;
    max-width: 34.0625rem;
  }

  .route__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 20px;
  }

  .route__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .route__slider-wrap {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100vw - ((100vw - 76.875rem) / 2 + (76.875rem - 1.875rem) * 0.5 + 0.9375rem));
            flex: 0 0 calc(100vw - ((100vw - 76.875rem) / 2 + (76.875rem - 1.875rem) * 0.5 + 0.9375rem));
  }

  .content-body-route__columns {
    max-width: 18.5rem;
    gap: 3.125rem;
  }
}

@media (max-width: 1200px) {
  input::-moz-placeholder {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  input::-webkit-input-placeholder {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  input:-ms-input-placeholder {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  input::-ms-input-placeholder {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  input::placeholder {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .title {
    font-size: calc(
				42px + 54 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .subtitle {
    font-size: calc(
				14px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .caption {
    font-size: calc(
				14px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .text {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .btn {
    font-size: calc(
				18px + 6 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .bottom-scroll::before {
    font-size: calc(
				35px + 35 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: calc(
				15.41px + 20.59 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .swiper-button-next,
  .swiper-button-prev {
    height: calc(
				30px + 40 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: calc(
				30px + 40 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .header__wrap {
    padding-top: calc(
				10px + 37 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .header__wrap {
    padding-bottom: calc(
				10px + 37 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .menu__list {
    -webkit-column-gap: calc(
				15px + 37 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				15px + 37 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				15px + 37 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .footer__body-image-content {
    padding-top: calc(
				40px + 31 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .footer__body-heading {
    font-size: calc(
				40px + 46 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-image-footer__title {
    font-size: calc(
				60px + 26 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-image-footer__title:not(:last-child) {
    margin-bottom: calc(
				15px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-image-footer__phone::before,
  .content-image-footer__mail::before {
    font-size: calc(
				25px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-image-footer__phone:not(:last-child) {
    margin-bottom: calc(
				15px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-image-footer__mail:not(:last-child) {
    margin-bottom: calc(
				25px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .social {
    gap: calc(
				10px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .cappadocia__title-word {
    font-size: calc(
				70px + 180 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .cappadocia__top-subtitle {
    font-size: calc(
				22px + 34 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__fairy-tail {
    padding-top: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__fairy-tail {
    padding-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .fairy-tail__container:not(:last-child) {
    margin-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .fairy-tail__subtitle {
    right: calc(
				-83px + -17 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-fairy-tail__body {
    padding-top: calc(
				15px + 30 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-fairy-tail__body {
    padding-bottom: calc(
				15px + 30 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-content__column {
    row-gap: calc(
				25px + 25 * ((100vw - 1379.98px) / (1200 - 1379.98))
			);
  }

  .body-content__subject {
    font-size: calc(
				14px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__route {
    padding-top: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__route {
    padding-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-body-route__top {
    margin-bottom: calc(
				60px + 48 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-body-route__subitle {
    right: calc(
				-48px + -25 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-body-route__columns:not(:last-child) {
    margin-bottom: calc(
				30px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .column-content__caption:not(:last-child) {
    margin-bottom: calc(
				15px + 5 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .column-content__item {
    font-size: calc(
				18px + 6 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__hotel {
    padding-top: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__hotel {
    padding-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-hotel__title-wrap:not(:last-child) {
    margin-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-hotel__subtitle {
    right: calc(
				-65px + -25 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-body-hotel {
    gap: calc(
				20px + 80 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-body-hotel__column-texts:not(:last-child) {
    margin-bottom: calc(
				30px + 50 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__price {
    padding-top: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__price {
    padding-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__title-wrap:not(:last-child) {
    margin-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__subtitle {
    right: calc(
				-80px + -20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__top:not(:last-child) {
    margin-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__bottom {
    -webkit-column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__bottom-content {
    padding-top: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__bottom-content {
    padding-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .rows-top-price {
    -webkit-column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				20px + 50 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .rows-top-price__item-caption:not(:last-child) {
    margin-bottom: calc(
				20px + 30 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price {
    width: calc(
				290px + 93 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__term-subtitle {
    right: calc(
				-50px + -20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__cost:not(:last-child) {
    margin-bottom: calc(
				30px + 70 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__cost-subtitle {
    right: calc(
				-50px + -25 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__form-caption:not(:last-child) {
    margin-bottom: calc(
				30px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__form-item:not(:last-child) {
    margin-bottom: calc(
				20px + 0 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bottom-price__form-input {
    font-size: calc(
				16px + 2 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 86.24875rem) {
  .swiper-button-prev {
    left: 0.625rem;
  }

  .fairy-tail__inner-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fairy-tail__slider-wrap {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .fairy-tail__slide.swiper-slide {
    padding: 0 0 60% 0;
  }

  .fairy-tail__slide-img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .body-content__column {
    row-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .body-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.9375rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-content__list-item {
    padding: 0 0.3125rem;
    border-right: 0.125rem solid rgb(226, 171, 63);
    border-left: 0.125rem solid rgb(226, 171, 63);
  }

  .route {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .route__content {
    width: 100%;
  }

  .route__content-body {
    width: 100%;
  }

  .route__slider-wrap {
    width: 100%;
  }

  .route__slider-wrap:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .route__slide {
    padding: 0 0 80% 0;
  }

  .route__slide-img {
    -o-object-position: bottom;
       object-position: bottom;
  }

  .route__slide-img--3 {
    -o-object-position: top;
       object-position: top;
  }

  .content-body-route__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-body-route__columns {
    max-width: 100%;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 0.625rem;
  }

  .content-body-route__column {
    padding-right: 0.3125rem;
  }

  .content-body-route__column:not(:last-child) {
    border-right: 0.125rem solid rgb(226, 171, 63);
  }

  .content-body-route__button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 86.24875rem) and (max-width: 1200px) {
  .body-content__column {
    row-gap: calc(
				20px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 79.99875rem) {
  .footer__body {
    row-gap: 60px;
  }
}

@media screen and (max-width: 79.99875rem) and (max-width: 1200px) {
  .footer__body {
    row-gap: calc(
				15px + 45 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 76.87375rem) {
  .footer__body-image-wrap {
    margin-left: 60px;
  }

  .footer__body-image.ibg {
    background-size: contain;
  }

  .content-image-footer__title {
    line-height: 100%;
  }
}

@media screen and (max-width: 76.87375rem) and (max-width: 1200px) {
  .footer__body-image-wrap {
    margin-left: calc(
				0px + 60 * ((100vw - 1089.98px) / (1200 - 1089.98))
			);
  }
}

@media screen and (max-width: 74.99875rem) {
  .cappadocia__bg.ibg {
    background-position: right;
  }
}

@media screen and (max-width: 73.43625rem) {
  .content-body-route__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.25rem;
  }

  .content-body-route__column {
    padding-right: 0rem;
    width: 300px;
  }

  .content-body-route__column:not(:last-child) {
    border-right: none;
  }
}

@media screen and (max-width: 73.43625rem) and (max-width: 1200px) {
  .content-body-route__column {
    width: calc(
				220px + 80 * ((100vw - 489.98px) / (1200 - 489.98))
			);
  }
}

@media screen and (max-width: 68.74875rem) {
  .footer__bg.ibg {
    background-position: 40%;
  }
}

@media screen and (max-width: 68.12375rem) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__body-image-wrap {
    margin-left: 0;
    margin-top: 2.5rem;
    min-width: 22.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.4375rem;
            flex: 0 1 33.4375rem;
  }

  .footer__body-image.ibg {
    background-size: cover;
  }

  .footer__body-head {
    margin-top: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 68.12375rem) and (max-width: 1200px) {
  .footer__body-head {
    margin-top: calc(
				60px + 140 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 61.24875rem) {
  .cappadocia__bg.ibg {
    background-position: 70%, 0;
  }
}

@media screen and (max-width: 61.99875rem) {
  .body-hotel__title-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-body-hotel__image-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .content-body-hotel__image {
    opacity: 0.5;
  }

  .content-body-hotel__columns {
    position: relative;
    z-index: 2;
  }

  .content-body-hotel__column-text {
    text-align: center;
  }

  .price__title-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .price__bottom-content-wrap {
    position: relative;
    z-index: 2;
  }

  .price__bottom-image-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .price__bottom-image {
    opacity: 0.4;
  }

  .rows-top-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .rows-top-price__item {
    text-align: center;
  }

  .content-bottom-price__form-caption {
    text-align: center;
  }
}

@media screen and (max-width: 47.99875rem) {
  .footer__bg.ibg {
    background-position: 55%;
  }

  .price__pic--ball {
    width: 14%;
    padding: 0 0 21% 0;
  }
}

@media screen and (max-width: 37.06125rem) {
  .header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 30.62375rem) {
  .content-body-route__columns {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .content-body-route__column {
    width: 13.75rem;
    text-align: center;
  }

  .content-body-route__column:not(:last-child) {
    border-bottom: 0.125rem solid rgb(226, 171, 63);
    padding-bottom: 0.625rem;
  }
}

@media screen and (max-width: 29.99875rem) {
  .footer__body-image-wrap {
    min-width: 20rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29.6875rem;
            flex: 0 1 29.6875rem;
  }

  .content-body-hotel__column-images {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .price__pic--small1,
  .price__pic--small2 {
    width: 8%;
    padding: 0 0 11.8% 0;
  }
}

@media screen and (max-width: 21.87375rem) {
  .footer__body-image-wrap {
    min-width: 18.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26.875rem;
            flex: 0 1 26.875rem;
  }
}

@media screen and (min-width: 86.24875rem) and (max-width: 1200px) {
  .content-fairy-tail {
    padding-left: calc(
				15px + 40 * ((100vw - 1379.98px) / (1200 - 1379.98))
			);
  }

  .route__content {
    padding-right: calc(
				15px + 5 * ((100vw - 1379.98px) / (1200 - 1379.98))
			);
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgb(226, 171, 63);
  }

  .header._scroll .menu__link:hover {
    color: rgb(255, 255, 255);
  }

  .header._scroll .menu__link:hover::before {
    background-color: rgb(255, 255, 255);
  }

  .header._scroll .header__phone:hover {
    color: rgb(255, 255, 255);
  }

  .header._scroll .header__phone:hover::before {
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header__phone:hover {
    color: rgb(226, 171, 63);
  }

  .header__phone:hover::before {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
    color: rgb(226, 171, 63);
  }

  .menu__link:hover {
    color: rgb(226, 171, 63);
  }

  .menu__link:hover::before {
    position: absolute;
    bottom: 0rem;
    left: 0;
    height: 0.09375rem;
    background-color: rgb(226, 171, 63);
    -webkit-transform: translate(0, 0rem);
        -ms-transform: translate(0, 0rem);
            transform: translate(0, 0rem);
  }

  .content-image-footer__phone:hover,
  .content-image-footer__mail:hover {
    color: rgb(226, 171, 63);
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  .social__youtube:hover,
  .social__facebook:hover,
  .social__Instagram:hover {
    opacity: 0.8;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  .content-body-hotel__column-image:hover {
    z-index: 2;
  }

  .content-body-hotel__column-image:hover.content-body-hotel__column-image--1 {
    -webkit-transform: scale3d(2, 2, 2) translate(25%, 25%);
            transform: scale3d(2, 2, 2) translate(25%, 25%);
  }

  .content-body-hotel__column-image:hover.content-body-hotel__column-image--2 {
    -webkit-transform: scale3d(2, 2, 2) translate(-25%, 25%);
            transform: scale3d(2, 2, 2) translate(-25%, 25%);
  }

  .content-body-hotel__column-image:hover.content-body-hotel__column-image--3 {
    -webkit-transform: scale3d(2, 2, 2) translate(25%, -25%);
            transform: scale3d(2, 2, 2) translate(25%, -25%);
  }

  .content-body-hotel__column-image:hover.content-body-hotel__column-image--4 {
    -webkit-transform: scale3d(2, 2, 2) translate(-25%, -25%);
            transform: scale3d(2, 2, 2) translate(-25%, -25%);
  }
}